# Python virtual environment
venv/

# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database file
app/conversations.db

# Environment variables
config.py

# IDE specific files
.vscode/
.idea/

# Other
*.log
*.tmp
