venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
build/
dist/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
*.log
*.sqlite3
instance/
.cache/
*.pyc
coverage.xml
*.cover
.hypothesis/
.tox/
.pytest_cache/
.coverage
*.bak
